

{% macro displayNewsList(news_list) %}
    {% for news in news_list %}
    
    <div class="col-lg-3">
        
        <div class="card" style="width: 30rem;">
    <img src="{{news.urlToImage}}" alt="" height="200" width="300" >
      <li>{{news.description | truncate(150)}}</li>
      <button><a href="{{news.link}}">View story</a></button>

    </div>


    </div>
   


    {% endfor %}

    


{% endmacro %}

{% macro displaySourceList(source_list) %}
   

    {% for sources in source_list %}
   
        <div class="col-md-3">

            <div class="card" style="width: 30rem;">
       
          <h5 class="card-title">{{sources.name}}</h5>
          

        
          
          <p class="card-text">{{sources.description}}</p>
          <a href="{{sources.url}}" class="card-link">View source..</a>

        </div>

        </div>
         
       

    {% endfor %}


{% endmacro %}